<h1>Nuestros gatos</h1>
<table class="table" width="50%">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Sexo</th>
            <!-- No se ven si no está loggeado -->
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        <% @gatos.each do |gato| %>
            <tr>
                <td><div class="fotolistado"><a href="/gatos/<%= gato.id %>"><img src="<%= gato.thumbnail %>"/></a></div></td>
                <td><%= gato.nombre %></td>
                <td><%= gato.texto_edad %></td>
                <td><%= gato.texto_sexo %></td>
                <!-- No se ven si no está loggeado -->
                <td><a href="/gatos/eliminar/<%= gato.id %>">Eliminar</a> | <a href="/gatos/modificar/<%= gato.id %>">Modificar</a></td>
            </tr>
        <% end %>
    </tbody>
</table>
